<% if @posts.empty? %>
  <h3>There are no posts.</h3>
<% else %>
  <% @posts.each do |post| %>
    <h5><%= post.title %></h5>

    <% if @current_user %>
      <h6><%= post.user_id %></h6>
    <% end %>

    <p><%= post.body %></p>
  <% end %><br><br>
<% end %><br><br>
